html {
    scroll-behavior: smooth;
}
body{
    background-image: url("pictures/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    margin: 0px;
    font-family: Arial;
    color: #E0E0E0;
}
header{
    background-color: #44b166;
    overflow: hidden;
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding-bottom: 0.5rem;
    
}
nav{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #44b166;
    list-style-type: none;
    -webkit-box-shadow: 0px 15px 16px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 15px 16px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 15px 16px 0px rgba(0,0,0,0.2);
}
nav ul {
    width: 100%;
    padding: 0;
    /* margin-right: auto; */
    display: flex;
    justify-content: space-evenly;
    margin-top: 0;
    margin-bottom: 0;
}
nav li{
    display: inline;
    text-align: center;
    font-size: 1.2rem;
    width: 16%;
}
nav a{
    color: #E0E0E0;
    text-decoration:none;
    padding: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 75%;
    display: block;
    text-transform: capitalize;
    font-weight: 600;
}
nav ul li a:hover{
    background-color: rgba(0, 0, 0, 0.164);
    color: #E0E0E0;
    transition: 250ms linear;
}
.logo {
    position: relative;
    height: 5rem;
    padding: 1rem;
    filter: brightness(1.3);
}
.title{
    display: inline;
    font-size: 2rem;
    position: relative;
    margin: 0;
    top: 50%;
    transform: translateY(-12%);
}

/* @media (max-width:600px){
    html {
        background-color: blue;
    }
} */

.h-center {
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    height: 6rem;
    display: flex;
    flex-direction: row;
}
.spacer {
    height: 30rem;
}
.content {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 3rem;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 6px 15px 21px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 6px 15px 21px 0px rgba(0,0,0,0.6);
    box-shadow: 6px 15px 21px 0px rgba(0,0,0,0.6);
    text-align: justify;
    color: black;
}
h1 {
    text-transform: capitalize;
}
.anchor {
    display: hidden;
    height: 0;
    position: relative;
    top: -12rem;
}
#footer {
    background-color: #44b166;
    color: white;
    align-content: center;
    height: 3rem;
    width: 100%;
    padding-top: 1rem;
}
#footer-contents {
    margin: auto;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    text-align: center;
    font-weight: 600;
}

@media (max-width: 50rem) {
    /* hambruger menu */

    .content {
        width: 80%;
    }
}